

nav ul li{
    font-size:20px;
    display:inline-block ;
}

/*HERO IMAGE SIZING*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   }
   body {
    width: 100%;
   }
   .hero {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
   }
   .hero img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
   }

   .hero .hero-text {
    font-family: 'Bebas Neue', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto Slab', serif;
    width: 100%;
    height: 100vh;
    display: flex;
    z-index: 3;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   }
   .hero .hero-text h1 {
    color: #FFF;
    font-size: 64px;
    margin-bottom: 20px;
   }

   /*MAIN SECTION AND SUMMARY SIZING*/
 
 #main{
     background:#000;
     border: 20px solid #000;
 }



 .imageRow{
     display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top:100px;
     
 }

 .imageRow img {
    max-width:180px;
    height:auto;
    
 }

 .summaryHeading {
     font-size:80px;
     display:flex;
     align-items: center;
     justify-content: center;
     font-family: 'Playfair Display', serif;
     font-family: 'Raleway', sans-serif;
 }

 .summaryText{
     display:flex;
     flex-flow:row wrap;
     align-items: center;
     justify-content: center;
     border-top:10px solid #60bdd3;
       
 }

 .summaryText p {
    font-family: 'Indie Flower';
     font-size:28px;
     max-width:50%;
 }

 /*FOOTER STYLING*/

 #footer{
     display:block;
     background:#000;

 }

 .row{
     display:flex;
     flex-direction: row;
 }

 #footer h1{
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
     color:#61cfe5;
     
 }

 #footer a {
     color:white;
     font-size:20px;
     
 }

 #footer a:hover{
     color:gray;
 }

a:link {
     text-decoration:none;
 }



 /*BEANS SECTION*/

.beanHero{
    display:flex;
    justify-content: center;
}

 #beans{
     text-align: center;
     border:25px solid #000;
     background:#e4e2e2
 }

 #beans h1{
    font-family: 'Roboto Slab', serif;
 }

 #beans h2{
    font-family: 'Roboto Slab', serif;
 }

#beansSummary{
    letter-spacing: .025em;
    line-height: 1.5;

    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

 .roastFacts{
     display:flex;
     flex-direction: row;
     justify-content: space-between;
 }

 .roastChart{
     overflow:auto;
 }

 
 

 .roastFacts h3{
    font-family: 'Playfair Display', serif;
 }


 .lightRoast{
     background:#F5F5DC;
     max-width:500px;
 }

 .mediumRoast{
     background:#744700;
     color:#FFFFFF;
     max-width:500px;
 }

 .darkRoast{
     background: #4f1717;
     color:#FFFFFF;
     max-width:500px;
 }


 
/*// UTENSILS SECTION /*/

.card-title{
    font-family: 'Bebas Neue', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto Slab', serif;
    font-size:42px;
}

.card-title{
    font-family: 'Bebas Neue', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto Slab', serif;
    font-size:42px;
}


 .card-img{
     max-width:20%;
     height:auto;
 }


.container img{
    height:300px;
    width:auto;
}

.card-body{
    height:300px;
    width:auto;
}

/* CSS */
.button-19 {
  appearance: button;
  background-color: #60bdd3;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  align-items: flex-end;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

.button-19:after {
  background-clip: padding-box;
  background-color: #60bdd3;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:main,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}

